  <div class="cube">
    <img class="cube"
      src="{{products.imageUrl}}">
    <p class="name">{{products.name}}</p>
    <p><span>Difficulty level:</span>{{products.difficultyLevel}}</p>
    <a class="btn" href="/products/details/{{products._id}}">Details</a>
  </div>