<main>
    <img id="sadFaceImg"
        src="https://www.shutterstock.com/image-vector/401-error-linear-icon-website-260nw-2042177762.jpg"
        alt="401-error-linear-icon" />
    <h1>401</h1>
    <h2>Your session has expired please try <a class = "login" href="/auth/login">login</a> again.</h2>
    
</main>