<main>
    <img id="sadFaceImg"
        src="https://www.serverplan.com/blog/wp-content/uploads/2020/11/errore.jpg"
        alt="sad face" />
    <h1>500</h1>
    <h2>Internal Server Error</h2>
</main>