<main>
  <h1>Browser</h1>
  <form action="/products" method="GET">
    <input {{#if query}} value="{{query.search}}" {{/if}} type="text" class="search" name="search"
      placeholder="Search...">
    <input {{#if query}} value="{{query.from}}" {{/if}} type="number" name="from" class="difficulty"
      placeholder="Difficulty from...">
    <span>-</span>
    <input{{#if query}} value="{{query.to}}" {{/if}} type="number" name="to" class="difficulty"
      placeholder="Difficulty to...">
      <a class="btnClear" href="/products">clear</a>
      <input type="submit" value="search">
      
  </form>
  
  {{#each products}}
  {{>cube}}
  {{/each}}


</main>